# <center><b><i><h3>Content-based recommendation system using combined course dataset

## <center><h4> Importing Libraries

In [10]:
import pandas as pd
import numpy as np
import ast


import warnings
warnings.filterwarnings("ignore")

## <center><h4> Loading Dataset

In [2]:
data = pd.read_csv("../../../Data/Engineering && Earth Systems and Climate Science.csv")
data.head()

,Title,Difficult,Description,Departments,Topics
0,Introduction to Civil and Environmental Engine...,Undergraduate,"In this sophomore design course, you will be c...",Civil and Environmental Engineering,"['Engineering', 'Civil Engineering', 'Environm..."
1,Public Transportation Systems,Graduate,This course discusses the evolution and role o...,Civil and Environmental Engineering,"['Engineering', 'Civil Engineering', 'Transpor..."
2,Urban Energy Systems and Policy,"Undergraduate, Graduate",This class is about figuring out together what...,Urban Studies and Planning,"['Energy', 'Social Science', 'Urban Studies', ..."
3,Urban Transportation Planning,Graduate,"This course examines the policy, politics, pla...",Civil and Environmental Engineering,"['Engineering', 'Civil Engineering', 'Transpor..."
4,Water Resource Systems,Graduate,This subject is concerned with quantitative me...,Civil and Environmental Engineering,"['Engineering', 'Environmental Engineering', '..."

## <center><h4> Data Preprocessing

In [4]:
data.shape

(55, 5)

### Handle Missing Values

In [3]:
data.isna().sum()

Title          0
Difficult      0
Description    0
Departments    3
Topics         0
dtype: int64

In [ ]:
# We don't have too much data
data['Departments'].fillna("Unknown", inplace=True)

In [8]:
data.columns

Index(['Title', 'Difficult', 'Description', 'Departments', 'Topics'], dtype='object')

### "Topics" Column

- Convert String to List

In [12]:
data['Topics'] = data['Topics'].apply(ast.literal_eval)

- Flatten the Topics

In [14]:
data['Topics'] = data['Topics'].apply(lambda x: ', '.join(x))

### "Difficult" Column

In [ ]:
data['Difficult'].unique() # Good

array(['Undergraduate', 'Graduate', 'Undergraduate, Graduate',
       'Non-Credit'], dtype=object)

In [ ]:
data['Departments'].unique() # Good

array(['Civil and Environmental Engineering',
       'Urban Studies and Planning', 'Mechanical Engineering',
       'Materials Science and Engineering', 'Architecture',
       'Earth, Atmospheric, and Planetary Sciences',
       'Sloan School of Management', 'Nuclear Science and Engineering',
       'Edgerton Center', 'Unknown', 'Chemistry', 'Physics',
       'Biological Engineering'], dtype=object)

In [ ]:
data.to_csv("Cleaned_data.csv", index=False)