In [24]:
import pandas as pd
from imdb import IMDb

In [25]:
ia = IMDb()

In [38]:
def get_imdb_url(movie_title):
    try:
        movies = ia.search_movie(movie_title)
        
        if movies:
            movie = movies[0]
            
            movie_id = movie.getID()
            
            image_url = movie.get('full-size cover url')
            print(image_url)
            
            return f"https://www.imdb.com/title/tt{movie_id}/"
        
        else:
            return None
    except Exception as e:
        return None

In [35]:
data = pd.read_csv("../../Data/Collaborative Recommendation Cleaned Data.csv")
data.head()

   user id                          Movie title  Ratings
0        1                101 Dalmatians (1996)      2.0
1        1                  12 Angry Men (1957)      5.0
2        1  20,000 Leagues Under the Sea (1954)      3.0
3        1         2001: A Space Odyssey (1968)      4.0
4        1                    Abyss, The (1989)      3.0

In [ ]:
data['Movie title'].str.split("(").str[0]

0                      101 Dalmatians
1                        12 Angry Men
2        20,000 Leagues Under the Sea
3               2001: A Space Odyssey
4                          Abyss, The
                     ...
99688               Wizard of Oz, The
99689                            Wolf
99690                      Wyatt Earp
99691                      Young Guns
99692                   Young Guns II
Name: Movie title, Length: 99693, dtype: object

In [39]:
get_imdb_url(data['Movie title'][0])

https://m.media-amazon.com/images/M/MV5BOTA5MjAzZWYtZmQxMC00NWE0LWJkNWMtMzczNjg3ZTM1ZGRiXkEyXkFqcGc@.jpg

'https://www.imdb.com/title/tt0115433/'